<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <display-name>Pharmacy</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/Beans.xml</param-value>
    </context-param>


    <servlet>
        <servlet-name>myServlet</servlet-name>
        <servlet-class>by.samsolution.pharmacy.servlet.MyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>myServlet</servlet-name>
        <url-pattern>/s</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>
            by.samsolution.pharmacy.servlet.MyAppServletContextListener
        </listener-class>
    </listener>


</web-app>